body { margin: 0; }
ul { list-style: none;     text-align: center; }
a { text-decoration: none; color: #fff; font-size: 24px; padding: 0 35px; }
ul li { display: inline-block;  }
p { margin: 0 auto; text-align: center; width: 60%; color: #fff; font-size: 23px; }
header { position: fixed; width: 100%; top: 0; left: 0; }

.banner { height: 800px; background: #55a4ca; }
.image { height: 500px; background-size: cover !important; background-attachment: fixed !important; }
.image1{ background: url('koala.jpg') no-repeat top center; }
.image2{ background: url('lighthouse.jpg') no-repeat top center; }
.image3{ background: url('desert.jpg') no-repeat top center; }
section { display: flex; align-items: center; height: 500px; }
#sobre { background: #e06a6a; }
#solucoes { background: #876ae0; }
#difenciais { background: #e06a9b; }
#contato { background: #b86ae0; }