<!DOCTYPE html>
<html lang="pt-br" ng-app="serviceApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>

    <!-- Localização -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.7.8/angular-locale_pt-br.min.js"></script> 

</head>
<body ng-controller="filtroController">

    <h4>Data: {{ dataHoje | date: 'dd/MM/yyyy H:m'  }}hrs</h4>

    <p>Filtro: <input type="text" ng-model="filtro"></p>

    <ul>
        <li ng-repeat="estado in estados">
            Estado: {{ estado.name | uppercase }} - Capital: {{ estado.capital | lowercase }} - Renda: {{ estado.renda | currency }}
            <!-- Estado: {{ estado.name | uppercase }} - Capital: {{ estado.capital | lowercase }} - Renda: {{ estado.renda | currency: 'R$ ' }} -->
        </li>
    </ul>

    <p>{{ textoLimitado | limitTo: 100 }}...</p>

    <p>Texto Limitado com uppercase : <br>{{ textoLimitado | limitTo: 100 | uppercase }}</p>
    
</body>
</html>