<!DOCTYPE html>
<html lang="pt-br" ng-app="contatosApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contatos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="contatosController">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Contatos</span>
            <form class="form-inline">
                <input class="form-control mr-sm-2" ng-model="buscaRegistro" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button class="btn btn-outline-success my-2 my-sm-0"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" type="submit">Novo</button>
        </nav>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="contato in contatos | filter: buscaRegistro">
                    <td>{{ contato.id }}</td>
                    <td>{{ contato.name }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>
                        <button class="btn btn-danger my-2 my-sm-0" ng-click="removeContato(contato.id)" type="submit">Excluir</button>
                        <button class="btn btn-warning my-2 my-sm-0" type="submit">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ titleModal }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="addNovoContato()">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Nome:</label>
                            <input type="text" class="form-control" ng-model="novoContato.nome" name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">E-mail:</label>
                            <input type="text" class="form-control" ng-model="novoContato.email" name="email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="telefone" class="col-form-label">Telefone:</label>
                            <input type="tel" class="form-control" ng-model="novoContato.telefone" name="telefone" id="telefone">
                        </div> 
                        <!-- <input type="hidden" value="{{ novoIdDoNovoContato }}">      -->
                        <button type="submit" class="btn btn-primary" aria-label="Close">Salvar</button>
                    </form>
                    
                </div>
               
                </div>
            </div>
        </div>
              
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>