<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h2>Logo</h2>
        <ul>
            <li>page</li>
            <li>page</li>
            <li>page</li>
            <li>page</li>
            <li>page</li>
        </ul>
    </div>
    <div class="wrapper">
        <section>
            <div>
                <img src="https://images.freeimages.com/images/large-previews/035/young-golden-retriever-1404848.jpg" />
                <h2>Blá Blá Blá</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    QuasiLorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    QuasiLorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    QuasiLorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    QuasiLorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    QuasiLorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    QuasiLorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    Quasi
                </p>
            </div>
        </section>
        <article>
            <div>
                <h2>Sobre o autor</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum minima architecto incidunt odio veritatis officiis eveniet! 
                    Quasi autem sapiente totam, beatae voluptate commodi, ad sint, doloribus non suscipit ullam velit.Quasi autem sapiente totam, beatae voluptate commodi, ad sint, doloribus non suscipit ullam velit.</p>
            </div>
            <div>
                <h2>Ultimas noticias</h2>
                <ul>
                    <li>
                        blá blá blá
                    </li>
                    <li>
                        blá blá blá
                    </li>
                    <li>
                        blá blá blá
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <footer>footer</footer>
</body>
</html>