body{ background: url(../images/background.jpg); font-family: Helvetica,Arial,sans-serif; background-size: cover;background-attachment: fixed; }

header { background: rgba(0,0,0,.7); margin-bottom: 94px; }
header a { text-transform: uppercase; color: #898989; font-size: 11px; font-weight: bolder; margin-right: 15px; }
header h1 { color: #898989; font-style: italic; font-weight: bold; }

.list ul { list-style: none; }
.list ul li { float: left; }
.list ul li a { font-family: UnitedSans,Tahoma,Arial,Helvetica,sans-serif; font-weight: bold; text-decoration: none; color: #fff; background: rgba(0,0,0,.5); padding: 20px 43px; text-transform: uppercase; font-size: 15px;}
.list ul li:first-child a{ border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.list ul li:last-child a{ border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
.list ul li a:hover { background: #fff; color: #000; }