@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body{ background: url(../images/background.jpg); font-family: 'Roboto', sans-serif;;background-size: cover;background-attachment: fixed; }

header { background: rgba(0,0,0,.7); margin-bottom: 94px; }
header a { text-transform: uppercase; color: #898989; font-size: 11px; font-weight: bolder; margin-right: 15px; }
header a:hover { color: #898989; }
header h1 { color: #898989; font-style: italic; font-weight: bold; }
header .price a { text-decoration: none; font-size: 22px; } 


.list ul { list-style: none; }
.list ul li { float: left; }
.list ul li a { font-weight: bold; text-decoration: none; color: #fff; background: rgba(0,0,0,.5); padding: 20px 43px; text-transform: uppercase; font-size: 15px;}
.list ul li:first-child a{ border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.list ul li:last-child a{ border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
.list ul li a:hover, .list ul li a.active { background: #fff; color: #000; }

.product { color: #fff; display: inline-block; width: 50%; margin-bottom: 41px; }
.product .image, .product .info{ display: table-cell; vertical-align: middle; }
.product .info { padding: 0 46px 0 20px; }
.product .info p { font-size: 14px; }
.product .image img { width: 150px; height: 150px; }
.product .info button { font-size: 15px; }